[submodule "python_file"]
	path = python_file
	url = https://github.com/rendicahya/python_file.git
[submodule "python_image"]
	path = python_image
	url = https://github.com/rendicahya/python_image.git
[submodule "python_video"]
	path = python_video
	url = https://github.com/rendicahya/python_video.git
[submodule "assertpy"]
	path = assertpy
	url = https://github.com/rendicahya/assertpy.git
[submodule "UniDet"]
	path = UniDet
	url = https://github.com/rendicahya/UniDet.git
[submodule "E2FGVI"]
	path = E2FGVI
	url = https://github.com/rendicahya/E2FGVI.git
[submodule "REPP"]
	path = REPP
	url = https://github.com/rendicahya/REPP.git
[submodule "mmaction2"]
	path = mmaction2
	url = https://github.com/rendicahya/mmaction2.git
[submodule "VideoSSL"]
	path = VideoSSL
	url = https://github.com/LongLong-Jing/VideoSSL.git
[submodule "kinetics-dataset"]
	path = kinetics-dataset
	url = https://github.com/rendicahya/kinetics-dataset.git
[submodule "Detic"]
	path = Detic
	url = https://github.com/rendicahya/Detic.git
